.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  padding: 20px 0;
  background: #EDEDF6;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.5);
  .wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 20px 30px;
    box-sizing: border-box;
    &__title {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 35px;
      line-height: 98%;
      color: #000000;
      margin-top: 0;
      @media (max-width: 700px) {
        font-size: 25px;
      }
    }
    .container  {
      display: flex;
      flex-direction: row;
      align-items: center;
      .logo {
        width: 280px;
        @media (max-width: 700px) {
          position: absolute;
          top: 0;
          right: 0;
          width: 140px;
        }
        &__img {
          width: 100%;
        }
      }
      .text {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        padding-left: 50px;
        color: rgba(0, 0, 0, 0.7);
        margin: 0;
        @media (max-width: 700px) {
          margin-top: 25px;
          padding: 0;
          font-size: 16px;
        }
      }
    }
  }
}