.calculators {
  .calculator-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 85px 30px 0 30px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 830px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 550px) {
      margin: 85px 10px 0 10px;
    }

    .calculator {
      display: flex;
      flex-direction: column;
      &--odd {
        grid-column: 3 / span 3; // нечёт 
        @media (max-width: 1200px) {
          grid-column: 1 / span 1; // нечёт 

        }
      }
      @media (max-width: 1200px) {
        grid-row: 2 / 3;
      }
      @media (max-width: 830px) {
        align-items: center;
      }
      
      .calculation {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        
        .calculation-box {
          .inputs {
            display: flex;
            justify-content: space-between;
            .inputs-box {
              .dimensions {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
                padding: 10px;
                border: 1px black dashed;
                border-radius: 10px;
                .input-wrap {
                  &__description {
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    padding: 0;
                    margin: 0;
                  }
                  &__input {
                    text-align: center;
                    max-width: 135px;
                    height: 35px;
                    background: rgba(22, 193, 243, 0.02);
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    @media (max-width: 500px) {
                      max-width: 100px;
                    }
                  }
                }
              }
              .container-square {
                display: flex;
                flex-direction: column;
                
                &__img {
                  object-fit: scale-down;
                  padding-top: 10px;
                }

                &__span {
                  padding: 10px 0 10px 10px;
                  font-family: 'Lato', sans-serif; 
                  font-weight: 600;
                  font-size: 18px;
                }
                .square-input-box {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 10px;
                  border: 1px black dashed;
                  border-radius: 10px;

                  &__text {
                    font-family: 'Lato', sans-serif; 
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    padding: 0;
                    margin: 0;
                  }
                  &__input {
                    text-align: center;
                    max-width: 79px;
                    height: 35px;
                    background: rgba(22, 193, 243, 0.02);
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                  }
                }
              }
            }
            .sum {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              padding: 10px;
              border: 1px black dashed;
              border-radius: 10px;
              .out-wrap {
                &__text {
                  font-family: 'Lato', sans-serif;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 18px;
                  padding: 0;
                  margin: 0;
                }
                &__input-price-square {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 124px;
                  height: 35px;
                  background: rgba(22, 193, 243, 0.02);
                  border: 1px solid rgba(0, 0, 0, 0.5);
                  border-radius: 5px;
                  font-family: 'Lato', sans-serif;
                  font-weight: 500;
                  font-size: 18px;
                  @media (max-width: 500px) {
                    max-width: 100px;
                  }
                }
                &__total {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 124px;
                  height: 35px;
                  background: rgba(22, 193, 243, 0.02);
                  border: 1px solid rgba(0, 0, 0, 0.5);
                  border-radius: 5px;
                  font-family: 'Lato', sans-serif; 
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  @media (max-width: 500px) {
                    max-width: 100px;
                  }
                }
              }
            }
          }
          .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &__text {
              font-family: 'Lato', sans-serif; 
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              margin: 10px 0;
            }
            &__sum {
              font-family: 'Lato', sans-serif; 
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          gap: 30px;
          justify-content: space-between;
          margin-top: 20px;
          height: 100%;
          @media (max-width: 650px) {
            flex-wrap: wrap;
          }
          &__calculate {
            height: 41px;
            border-radius: 10px;
            border: none;
            font-family: 'Lato', sans-serif; 
            font-weight: 500;
            font-size: 15px;
            color: #FFFFFF;
            background: linear-gradient(180deg, #535699 -37.8%, #2D32A4 150%);
            padding: 0 20px;
            cursor: pointer;
          }
          &__button {
            width: 207px;
            height: 41px;
            background: linear-gradient(180deg, #535699 -37.8%, #2D32A4 150%);
            border-radius: 10px;
            border: none;
            font-family: 'Lato', sans-serif; 
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            cursor: pointer;
          }
        }
      }
    }

    .description {
      font-family: 'Lato', sans-serif;
      &--odd {
        grid-column: 2 / 3;
        grid-row: 1;
      }
      @media (max-width: 1200px) {
        grid-column: 1 / 3;
        padding: 0 20px;
      }
    
      &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 98%;
        color: #000000;
        @media (max-width: 1200px) {
          font-size: 34px;
          text-align: center;
        }
        @media (max-width: 650px) {
          font-size: 20px;
        }
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        // line-height: 23px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
        @media (max-width: 1200px) {
          font-size: 26px;
          line-height: 1;
        }
        @media (max-width: 650px) {
          font-size: 16px;
        }
      }
    }

    .envelope {
      display: flex;
      justify-content: center;
      padding: 20px;
      border-radius: 10px;
      &--odd {
        grid-row: 1; 
        grid-column: 1 / span 1;
        @media (max-width: 1200px) {
          grid-row: 2;
          grid-column: 2 / span 2; // нечёт 
        }
      }
      @media (max-width: 830px) {
        grid-row: 3 / 4;
        grid-column: 1 / span 1;
      }
      &__img {
        width: 100%;
        object-fit: cover;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
      // &__price {
      //   font-family: 'Lato', sans-serif; 
      //   font-weight: 600;
      //   font-size: 40px;
      //   line-height: 48px;
      //   color: #D72853;
      // }
    }
  }
}