// модальное окно

.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  transition: all 0.5s ease-out;
  transform: translateY(-100%);
  font-family: "Montserrat";

  z-index: -2;
  opacity: 0;
  visibility: hidden;

  &_active {
    transform: translateY(0%);
    z-index: 20;
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  min-width: 304px;
  min-height: 394px;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1;
  z-index: 99;
  padding: 36px;
  font-family: "Montserrat";

  &__title {
    font-weight: 500;
    font-size: 28px;
    color: #333333;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
  }

  &__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #333333;
    min-width: 300px;
    height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    &:active, &:focus {
      outline:none;
    }
  }
  
}

.sing-in_modal {
  position: relative;
  align-self: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 113px;
  border-radius: 4px;
  background-color: #535699;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 20px;

  &:active {
    top: 1px;
  }
}

.g-recaptcha {
  margin: 20px 0;
}