.reviews {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapp {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 25px 30px 50px 30px;
    box-sizing: border-box;
    @media (max-width: 700px) {
      margin: 25px 20px 50px 20px;
    }
    .reviews__title {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 35px;
      line-height: 98%;
      color: #000000;
      @media (max-width: 700px) {
        font-size: 25px;
      }
    }
    .review-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      column-gap: 20px;
      @media (max-width: 850px) {
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 10px 10px;
      }
   
      .review {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        border: 1px solid #535699;
        border-radius: 10px;
        max-width: 256px;
        padding: 20px;
        @media (max-width: 1200px) {
          padding: 10px;
        }
        &__header {
          display: flex;
          flex-direction: row;
          gap: 20px;
          @media (max-width: 1200px) {
            gap: 10px;
          }
          .photo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            @media (max-width: 1200px) {
              width: 65px;
            }
            // &__img {
            //   // width: 100%;
            // }
          }
          .person {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__name {
              font-family: 'Montserrat';
              font-weight: 600;
              font-size: 15px;
              color: #535699;
              @media (max-width: 1200px) {
                font-size: 12px;
              }
            }
            &__date {
              font-family: 'Montserrat';
              font-weight: 400;
              font-size: 15px;
              color: #535699;
              @media (max-width: 1200px) {
                font-size: 12px;
              }
            }
            &__grade {
              display: flex;
              flex-direction: row;
              .grade__img {
                width: 20px;
                @media (max-width: 1200px) {
                  width: 15px;
                }
              }
            }
          }
        }
        &__text {
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 12px;
          line-height: 85%;
          margin-bottom: 0;
          color: rgba(83, 86, 153, 0.7);
        }
      }
    }
    .reviews__button {
      padding: 10px 25px;
      margin-top: 20px;
      width: max-content;
      border: none;
      background: linear-gradient(180deg, #535699 -37.8%, #2D32A4 150%);
      border-radius: 10px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: #FFFFFF;
      @media (max-width: 650px) {
        padding: 10px 10px;
        font-size: 15px;
      }
    }
  }
}